@layer components {
  /* Typography */
  /* Heading 28 */
  .heading-28-bold {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-28-semibold {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-28-medium {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-28-regular {
    font-size: var(--font-size-heading1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Heading 24 */
  .heading-24-bold {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-24-semibold {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-24-medium {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-24-regular {
    font-size: var(--font-size-heading2);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Heading 20 */
  .heading-20-bold {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .heading-20-semibold {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .heading-20-medium {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .heading-20-regular {
    font-size: var(--font-size-heading3);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Body 18 */
  .body-18-bold {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-bold);
  }

  .body-18-semibold {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-semibold);
  }

  .body-18-medium {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-medium);
  }

  .body-18-regular {
    font-size: var(--font-size-body1);
    line-height: var(--line-height-heading);
    font-weight: var(--font-weight-regular);
  }

  /* Body 16 */
  .body-16-bold {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .body-16-semibold {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .body-16-medium {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .body-16-regular {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .body-16-light {
    font-size: var(--font-size-body2);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* Body 14 */
  .body-14-bold {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .body-14-semibold {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .body-14-medium {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .body-14-regular {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .body-14-light {
    font-size: var(--font-size-body3);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* Caption 12 */
  .caption-12-bold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-bold);
  }

  .caption-12-semibold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-semibold);
  }

  .caption-12-medium {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-medium);
  }

  .caption-12-regular {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-regular);
  }

  .caption-12-light {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-body);
    font-weight: 300;
  }

  /* 임시로 default 라고 정의 */
  .shadow-default {
    box-shadow: 0px 0px 11px rgba(144, 144, 144, 0.4);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }

  .scrollbar-primary-40::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-primary-40::-webkit-scrollbar-track {
    background-color: var(--color-neutral-20);
    border-radius: 10px;
  }

  .scrollbar-primary-40::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-30);
    border-radius: 10px;
  }
}
